.about-us .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}
.about-us {
  padding: 2rem;
}

.about-us .para {
  color: #3b3a5d;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 2rem;
}

.about-us .content,
.about-us .last-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
}

.about-us .content {
  box-shadow: 1px 1px 5px #e2e2ec;
}

.about-us .last-content {
  background-color: #ffffff;
  margin-top: 2rem;
  box-shadow: 1px 1px 5px #e2e2ec;
}

.about-us .content .text,
.about-us .last-content .text {
  flex: 3;
  color: #3b3a5d;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 0.4rem;
}

.about-us .content .text {
  padding: 6rem 2rem;
  background-color: #edebf0;
}

.about-us .content .text .para1 {
  margin-bottom: 1rem;
}

.about-us .content .image,
.about-us .last-content .image {
  flex: 2.5;
}

.about-us .content img,
.about-us .last-content img {
  width: 100%;
  border-radius: 0.25rem;
}

.content-about {
  height: 35rem;
  border-radius: 0.25rem;
  background: url(../../assets/about.jpg),
    lightgray 3.671px -236.702px / 100% 133.155% no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-bottom: 4rem;
}

.about-us .story {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem 1.5rem;
  position: relative;
  border-radius: 5px;
  top: 45%;
  left: 2rem;
  width: 65%;
}

.about-us .story .underline {
  width: 15rem;
  height: 4px;
  background-color: #3b3a5d;
  opacity: 0.75;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.about-us .story p {
  font-size: 1.1rem;
  color: #3b3a5d;
}

.about-us .story span {
  font-size: 1.2rem;
  font-weight: 700;
}

/* ==============MEDIA QUERIES ================ */

@media screen and (max-width: 1280px) {
  .about-us .content .text {
    flex: 1;
    padding: 3rem 2rem;
    font-size: 1rem;
  }

  .about-us .last-content .text {
    flex: 1;
  }

  .about-us .content .image,
  .about-us .last-content .image {
    flex: 1;
  }
}

@media screen and (max-width: 960px) {
  .about-us {
    padding: 2rem 1rem;
  }
  .about-us .para {
    color: #3b3a5d;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 2rem;
  }
  .about-us .content {
    flex-direction: column-reverse;
  }

  .about-us .last-content {
    flex-direction: column;
  }

  .about-us .story p {
    font-size: 1rem;
  }

  .about-us .story span {
    font-size: 1.1rem;
  }

  .about-us .story {
    width: 75%;
  }

  .about-us .story .underline {
    width: 12rem;
  }
}

@media screen and (max-width: 600px) {
  .about-us {
    padding: 0.5rem;
  }
  .about-us .title {
    margin-bottom: 1rem;
  }
  .about-us .para {
    font-size: 0.8rem;
    margin: 1rem 0;
  }

  .about-us .content,
  .about-us .last-content {
    gap: 1rem;
    padding: 1rem 0.5rem;
  }

  .about-us .content .text,
  .about-us .last-content .text {
    font-size: 0.8rem;
  }

  .about-us .content .text {
    padding: 2rem 1rem;
  }

  .content-about {
    height: 24rem;
  }

  .about-us .story {
    padding: 1rem 0.5rem;
    top: 35%;
    left: 0.5rem;
    width: 94%;
  }

  .about-us .story .underline {
    width: 8rem;
    height: 3px;
  }

  .about-us .story p {
    font-size: 0.75rem;
  }

  .about-us .story span {
    font-size: 0.8rem;
  }
}
