/* .link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; } */
@tailwind base;
@tailwind components;
@tailwind utilities;

.title-comment{
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 425px;
    padding-bottom: 45px;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}
.cardcom{
    padding-top: 20px;
}