.banner {
  height: 82vh;
  background: url(../../assets/banner.png),
    lightgray 3.671px -236.702px / 100% 133.155% no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.banner-content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.5rem 2rem;
  position: relative;
  border-radius: 5px;
}

.banner-content .underline {
  width: 220px;
  height: 4px;
  background-color: #3b3a5d;
  margin-bottom: 0.8rem;
}

.banner-content h1 {
  font-size: 2.5rem;
  color: #27245f;
  margin-bottom: 0.5rem;
}

.banner-content p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #3b3a5d;
  margin-bottom: 2rem;
}

.banner-content .button {
  position: absolute;
  bottom: -1.2rem;
}

.banner-content .button button {
  padding: 0.85rem 2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #27245f;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.banner-content .button button:hover {
  gap: 0.65rem;
  background-color: #0a0b3b;
  color: #bc994c;
}

/* ==============MEDIA QUERIES ================ */

@media screen and (max-width: 960px) {
  .banner {
    height: 95vh;
  }

  .banner-content {
    margin-top: 8rem;
    padding: 1.5rem 4rem 1.5rem 2rem;
  }

  .banner-content h1 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .banner {
    height: 90vh;
    padding: 0 1rem;
  }

  .banner-content {
    padding: 1rem;
    margin-top: 5rem;
  }

  .banner-content .underline {
    width: 180px;
    height: 3px;
  }

  .banner-content h1 {
    font-size: 1.1rem;
  }

  .banner-content p {
    font-size: 0.9rem;
  }

  .banner-content br {
    display: none;
  }

  .banner-content .button button {
    padding: 0.75rem 1.5rem;
    font-size: 0.8rem;
  }
}
